.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_container h1 {
    color: #333;
    line-height: 55px;
    font-size: 4em;
    text-align: start;
    padding: 35px;
}

.home_container > h1 > span {
    color: #6affa4;

}




